# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env
.venv
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
